@import '../font/stylesheet.css';
@import 'normalize.css';

:root {
    //Defalt layout
    --default-layout-height: 60px;
    --default-layout-width: 1150px;
    --black: #000;
    --text-color: #333;
    --primary: #fe2c55;
}

html {
    font-size: 62.5%;
}


*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'TikTok Display';
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}